name: CI tests

on:
  pull_request:
    branches: [main]

jobs:
  check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - 18
          - 20
          - 22
    env:
      CI: true
      NODE_OPTIONS: --max-old-space-size=4096

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v4
        with:
          cache: yarn
          node-version: ${{ matrix.node-version}}
          registry-url: https://registry.npmjs.org/
          scope: '@platacard'

      - name: install dependencies
        run: yarn install --immutable

      - name: check for missing repo fixes
        run: yarn fix --check

      - name: validate config
        run: yarn backstage-cli config:check --lax

      - name: lint
        run: yarn lint

      - name: type checking
        run: yarn tsc:full

      - name: prettier
        run: yarn prettier:check

      - name: build
        run: yarn buld
        
      - name: publish check
        run: yarn backstage-cli repo fix --check --publish

      - name: test
        run: yarn test:all --maxWorkers=3
